@import '../utils/variables.scss';

.contact-page {
    margin-top: 60px;
    h1 {
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 2rem;
      color: #333;

    }
  
    .info-section {
      margin-bottom: 4rem;
    }
  
    .contact-info {
      background-color: white;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
      height: 100%;
  
      h2 {
        color: #2c3e50;
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
      }
  
      h3 {
        color: #34495e;
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }
  
      p {
        color: #7f8c8d;
        line-height: 1.6;
      }
  
      .info-block {
        margin-bottom: 2rem;
      }
  
      .contact-message {
        font-style: italic;
        border-left: 4px solid darken($mint-cream, 80%);
        padding-left: 1rem;
      }
    }
  
    .map-container {
      height: 100%;
      min-height: 400px;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  
    .form-section {
      .contact-form {
        background-color: white;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  
        h2 {
          color: #2c3e50;
          font-size: 1.8rem;
        }
  
        p {
          color: #7f8c8d;
        }
  
        .form-label {
          color: darken($mint-cream,80%);
          font-weight: 500;
        }
  
        .form-control {
          border: 1px solid #dde1e3;
          border-radius: 4px;
          padding: 0.75rem;
          
          &:focus {
            border-color: darken($mint-cream, 80%);
            box-shadow: 0 0 0 0.2rem (darken($mint-cream, 10%));
          }
        }
  
        .submit-button {
          color: black;
          background-color: darken($mint-cream, 10%);
          border: none;
          padding: 0.75rem 2rem;
          font-weight: 500;
          transition: all 0.3s ease;
  
          &:hover {
            background-color: darken($mint-cream, 80%);
            color: white;
            transform: translateY(-2px);
          }
        }
      }
    }
  }
  

  @media (max-width: 768px) {
    .contact-page {
      padding: 2rem 0;
  
      .info-section {
        margin-bottom: 2rem;
      }
  
      .map-container {
        margin-top: 2rem;
        min-height: 300px;
      }
  
      .contact-form {
        padding: 1.5rem;
      }
    }
  }