.home {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  overflow: hidden;

  /* Fondo de imagen */
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/manos.jpg');
    background-size: cover;
    background-position: center;
    z-index: -2;
  }

  /* Franja translúcida con desenfoque en los bordes */
  .text-background {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 2rem 2rem 2rem;
    background-color: rgba(48, 47, 47, 0.15); /* Fondo oscuro más suave */
    backdrop-filter: blur(4px); /* Desenfoque en el fondo */

    /* Centrado vertical y horizontal del texto */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Borde difuso alrededor del contenedor */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra difusa alrededor del contenedor */
  }

  /* Estilos para el título */
  &-title {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: white;
  }

  /* Estilos para las descripciones */
  &-description {
    font-size: 1.25rem;
    margin: 0;
    color: white;
    line-height: 1.6;
  }
}

@media (max-width: 600px) {
  .home-bg {
    background-image: url('../assets/narissa-de-villiers-WmtpJcAPMco-unsplash.jpg');
  }

  .home-title {
    font-size: 2.75rem; /* Reduce font size for small screens */
  }

  .home-description {
    font-size: 1.25rem; /* Reduce description font size for small screens */
  }

  .text-background {
    padding: 1.5rem; /* Reduce padding for small screens */
  }
}