@import "../utils/variables.scss";

.team-container {
  text-align: center;
  padding: 60px;

  .introduction {
    margin: 20px 0 30px 0;

    h1 {
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 2rem;
      color: #333;
    }

    h2 {
      color: darken($mint-cream, 80%);
      font-size: 1.5rem;
      margin-bottom: 1rem;
      font-weight: 600;
    }

    p {
      color: #666;
      font-style: italic;
      margin-bottom: 1.5rem;
      line-height: 2rem;
    }
  }

  .indicators {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

    .indicator {
      display: flex;
      flex-direction: column;
      align-items: center;

      .circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        margin-bottom: 10px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          top: 0;
          left: 0;
          z-index: 0;
        }

        .percentage {
          position: relative;
          z-index: 1;
        }
      }

      .satisfaction {
        background: conic-gradient(darken($mint-cream, 3%) 98%, $mint-cream 0);
      }

      .personalized-care {
        background: conic-gradient(darken($mint-cream, 3%) 90%, $mint-cream 0);
      }

      .service-quality {
        background: conic-gradient(darken($mint-cream, 3%) 95%, $mint-cream 0);
      }
    }
  }
}